<div id = "inputEdit"></div>

<% @comments.each do |comment| %>  
  <div id = "<%= comment.id %>">  
  [<%= comment.created_at.strftime("%I:%M %p") %>]
  <%= "#{comment.user.first_name} #{comment.user.last_name}:"%>
  <%= comment.body %> 

  <% if current_user.has_role?(:admin) || current_user == comment.user %>  
    <button type="button" onclick="deleteComment(<%= comment.id %>)" class= "btn btn-primary" > Delete </button>   
    <button type="button" onclick="editComment(<%= comment.id %>)" class= "btn btn-primary"> Edit </button>   
  <% end %>  
  </div>
<% end %>

