<h1>Book Reviewer</h1>

<% if current_user %>
  <h2><%= "Welcome #{current_user.first_name}"  %> </h2>
  <%= link_to 'Books', books_path, class: "btn btn-primary" %> 
  <% if current_user.has_role?(:admin) %>
  <%= link_to 'Category', categories_path, class: "btn btn-primary" %> 
  <% end %>
  <%= link_to 'Update Profile', edit_user_registration_path, method: :get, class: "btn btn-primary" %> 
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>  
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %> 
  <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %> <br />  
<% end %>
