<%= form_for @book, html: { multipart: true } do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex-row d-flex justify-content-center">
    <div class="col-md-8">
    <div class="card mt-5">
      <div class="card-body">
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control"%>  
        </div><br>

        <div class="form-group">
          <% if book.photo.attached? && book.photo.representable? %>
            <%= image_tag book.photo.variant(resize: '350x350').processed %> 
          <% else %>
            <div class="book-photo no-photo"></div>
          <% end %>   
          <%= form.label :photo %>       
          <%= form.file_field :photo, class: "form-control", class: "btn btn-outline-primary" %>
        </div><br>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control" %>          
        </div><br>

        <div class="form-group">
          <%= form.label :category %>
          <%= form.select :category_id, Category.all.map{ |c| [c.category_name, c.id]}, class: "form-control" %>  
        </div><br>       
      
        <%= form.submit %>
        <%= link_to 'Back', books_path, class: "btn btn-outline-primary" %>
       </div>
    </div>
    </div>
  </div> 
<% end %>
