<div style="margin: 60px 0 30px 0;">
  <% if current_user.has_role?(:admin) || current_user.has_role?(:author) %>
    <div style="margin: 30px 0 15px 0;">
      <%= link_to 'New Book', new_book_path, class: "btn btn-outline-primary" %>
    </div>
  <% end %>

  <div class= "row">
    <% @books.each do |book| %>
      <div class= "col-md-4">
        <div class="card mt-3">
          <div class="card-body text-center">
            <h3> <%= link_to book.title, book_path(book.id) %></h3>

            <%= "Author: #{book.user.first_name} #{book.user.last_name}" %>

            <div class="card-body">
              <%= link_to 'Show', book, class: "btn btn-primary" %>

              <% if current_user.has_any_role?(:admin, :author) %>
                <%= link_to 'Edit', edit_book_path(book), class: "btn btn-warning" %>
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%> 
              <% end %>
            </div>
          </div>
        </div>
      </div>     
    <% end %>
  </div>

</div>